
.leftbar{
    background-color: #FFFFFF;
    width: 20%;
    float: left;
    overflow: hidden;
    margin-top: 50px;
    margin-right: 2px;
    margin-left: 15px;
    height: auto;
    border-radius:10px;
    box-shadow: 3px 3px 1px #555555;
}

.buttonBar {
    background-color: #FFFFFF;
    margin-left: inherit;
    overflow:hidden;
    border-radius: 5px;
    width: 88%;
    height: 30px;
    text-align: center;
    border:solid;
    border-width: 1px;
    border-color: #666666;
}

.buttonBar button {
    height: 30px;
    width: 32%;
    position:relative;
    font-family: sans-serif;
    font-weight: 5;
    font-size: 12px;
    background-color: inherit;
    color: #333333;
    margin:0;
    padding: 0;
    border: none;
}

.buttonBar button.active {
    color: #ffffff;
    background-color: #444444;
} 

.buttonBar button:hover {
    background-color: #888888;
    color: #ffffff;
}

.shiftBar { 
    background-color: #FFFFFF;
    margin-left: inherit;
    margin-right: inherit;
    overflow:hidden;
    border-radius: 5px;
    width: 88%;
    height: auto;
    text-align: left;
    border:solid;
    border-width: 1px;
    border-color: #666666;
    margin-bottom: 30px;
}


#Shifts {
    display: block;
    background-color:inherit;
    text-align: left;
    height:30px;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    font-family: sans-serif
}

#Shifts:hover{
    background-color: #FFD633;
}